%font__bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
%font__medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
%font__regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
%font__light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

$green: #29c17e;
